.col-md-20.col-sm-24.col-lg-16.col-centered
  = render 'flash'

  %legend Repo Show

  = link_to @repo.external_url, @repo.external_url

  %table.table.table-striped
    %tr
      %th
      %th SHA
      %th Created

    -#This should be paginated
    - @repo.builds.each do |build|
      - success_class = build.success? ? "success" : "failure"
      %tr
        - if build.success?
          %td.text-success= fa_icon "check"
        - else
          %td.text-danger= fa_icon "times"
        %td= build.short_sha
        %td= build.created_at

