- repo = build.repo
- path = build_repos_path(repo.to_params.symbolize_keys.merge(id: build.id))
%tr
  %td= link_to build.id, path
  %td= link_to repo.short_name, repo_path(repo)
  %td= link_to build.branch, path
  %td= link_to build.short_sha, path
  %td= link_to build.created_at, path
  %td= link_to build_status(build.status), path
