.col-md-20.col-sm-24.col-lg-16.col-centered
  = render 'flash'

  %legend Build Show

  %dl.dl-horizontal
    %dt ID
    %dd= @build.id

    %dt Branch
    %dd= @build.branch

    %dt SHA
    %dd= @build.short_sha

    %dt Created
    %dd= @build.created_at

    %dt Overall Status
    %dd
      = build_status(@build.overall_status)

    %dt Build Status
    %dd= build_status(@build.status)

    %dt Git
    %dd= link_to @repo.external_url, @repo.external_url

    %dt All builds
    %dd= link_to @repo.builds.count, repo_path(@repo)

    %dt BuildTree
    %dd= render partial: "tree", locals: {builds: [@build]}

  %legend Build Log

  - @build.build_logs.each do |log|
    - panel_class = log.exit_code == 0 ? "panel-success" : "panel-danger"
    .panel{class: panel_class}
      .panel-heading
        %h5= log.cmd

      .panel-body
        - JSON.parse(log.text).each do |io_line|
          - type, line = io_line.first
          - if type == 'stdout'
            %span= line
            %br
          - else
            %span.text-danger= line
            %br
